<div class="row">
  <div class="col-xs-12">
    {{bs-carousel projects=this}}
  </div>
</div>

<div class="row row-projects">
  {{#each project in controller}}

    <div class="col-sm-4 col-xs-12 project">
      {{#link-to 'items.index' project}}
      <div class="project-thumbnail">
        <div class="project-screen">
          <div class="project-inner">
            <div class="project-title">
              {{project.name}}
            </div>
          </div>
        </div>
        <img {{bind-attr src=project.thumbnail alt=project.name}} />
      </div>
      {{/link-to}}
    </div>
  {{/each}}
</div>
{{outlet}}
