<div class="container container-header">
  <div class="container-inner header-inner clearfix">
    <div class="title pull-left">{{#link-to 'projects'}}Jessica Forehand{{/link-to}}</div>
    <div class="nav pull-right">
      <ul class="list-inline list-unstlyed hidden-xs">
        <li>{{#link-to 'projects.portraits' class='no-sep'}}Portrait{{/link-to}}</li>
        <li>{{#link-to 'projects.events' class='no-sep'}}Event{{/link-to}}</li>
        <li>{{#link-to 'projects.art'}}Art{{/link-to}}</li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="no-sep"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
      <ul class="list-inline list-unstlyed visible-xs">
        <li><a href="#" class="no-sep">Menu <i class="fa fa-bars"></i></a></li>
      </ul>
    </div>
  </div>
</div>
