<div class="container container-header">
  <div class="title pull-left">Jessica Forehand</div>
  <div class="nav pull-right">
    <ul class="list-inline">
      <li><a href="#">Photography</a></li>
      <li><a href="#">Video</a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
    </ul>
  </div>
</div>
